<%= link_to "Back to Voting", root_path, class: "text-gray-700 underline hover:no-underline dark:text-gray-300" %>

<% if params.expect(:song_id) == "current" %>
  <%= turbo_stream_from :current_song %>
<% else %>
  <%= turbo_stream_from @song %>
<% end %>

<% if @song.present? %>
  <div class="my-8 flex flex-1 items-center justify-between gap-1">
    <div>
      <div class="text-xl font-semibold"><%= @song.title %></div>
      <div class="font-light"><%= @song.artist %></div>
      <% if @song.playing? %>
        <div class="text-xs font-extralight">Currently singing</div>
      <% elsif @song.last_played.present? && %>
        <div class="text-xs font-extralight">Sung
          <%= time_ago_in_words(@song.last_played) %>
          ago</div>
      <% end %>
    </div>
    <%= render "songs/likes", song: @song %>
  </div>
  <%= simple_format(@song.lyrics) %>
<% else %>
  <div class="my-8 text-center text-xl font-semibold">Music break, go vote for your favourite songs!</div>
<% end %>
