<%# locals: (song:, hide_likes: false, prefix: nil) %>
<div class="rounded border-1 p-2" id="<%= dom_id(song, prefix) %>">
  <div class="flex flex-1 items-center justify-between gap-1">
    <div>
      <div class="text-xl font-semibold"><%= song.title %></div>
      <div class="font-light"><%= song.artist %></div>
      <% unless hide_likes %>
        <% if song.playing? %>
          <div class="text-xs font-extralight">Currently playing</div>
        <% elsif song.last_played.present? && %>
          <div class="text-xs font-extralight">Played
            <%= time_ago_in_words(song.last_played) %>
            ago</div>
        <% end %>
      <% end %>
    </div>
    <div class="flex items-center gap-4">
      <%= link_to "Lyrics", [song, :lyrics], class: "text-gray-700 underline hover:no-underline dark:text-gray-300" %>
      <% unless hide_likes %>
        <%= render "songs/likes", song: song %>
      <% end %>
      <% if authenticated? %>
        <div>
          <%= button_to [song, :play], method: :patch, params: { song: { playing: !song.playing } } do %>
            <% if song.playing %>
              <%= icon "stop-fill", class: "text-xl" %>
            <% else %>
              <%= icon "play-fill", class: "text-xl" %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
